.form-field {
  input[type="checkbox"] {
    border-radius: 0.3rem;
    border: none;
    outline: none;
    width: 1.5rem;
    height: 1.5rem;
    visibility: visible;
    position: relative;
    margin-right: 1rem;
    &:before {
      position: absolute;
      content: " ";
      width: 2rem;
      height: 2rem;
      background: #fff;
      border-radius: 0.3rem;
      border: 1px solid $color-light-gray;
      display: block;
      top: 0;
      left: 0;
      visibility: visible;
    }
    &:after {
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 0.25rem;
      left: 0.25rem;
      font-family: "LineIcons";
      font-size: 1.6rem;
      content: "\ea55";
      display: none;
      color: $color-light-gray;
    }
    &:checked:after {
      display: block;
    }
  }

  &--icon {
    position: relative;
    &:before {
      position: absolute;
      font-family: "LineIcons";
      top: 50%;
      left: 2.4rem;
      transform: translateY(-50%);
      color: $color-light-gray;
    }
    input[type="text"],
    input[type="password"] {
      padding-left: 5rem;
    }
  }

  &--email {
    &:before {
      content: "\eaab";
    }
  }

  &--password {
    &:before {
      content: "\eb17";
    }
  }
}
