.divider {
  width: 100%;
  text-align: center;
  position: relative;
  color: $color-light-gray;

  &:before,
  &:after {
    position: absolute;
    width: 42.5%;
    content: " ";
    display: block;
    height: 0.1rem;
    background-color: $color-light-gray;
    top: 50%;
    transform: translateY(-50%);
  }

  &:before {
    left: 2.5%;
  }
  &:after {
    right: 2.5%;
  }
}
