@import "../styles/variables";

.login-box {
  width: 50%;
  min-width: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  display: flex;
  border-radius: 1.2rem;
  box-shadow: 0 0 30px rgba(black,0.015);
  &__form {
    flex: 1;
    padding: 5% 12.5%;
  }

  &__photo {
    width: 35%;
    background-image: url(../assets/login-box-background.jpg);
    background-size: cover;
    background-position: center center;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
  }

  &__title{
    &--main{

    }
    &--sub{
      color: $color-gray;
    }
  }
}
