<div class="container">
  <div class="login-box">
    <div class="login-box__form">
      <h1 class="login-box__title--main">Welcome Back</h1>
      <h3 class="login-box__title--sub">New user? <a href="#">Create an account</a></h3>
      <form action="#">
        <div class="form-field form-field--icon form-field--email">
          <input type="text" placeholder="Email Address"/>
        </div>
        <div class="form-field form-field--icon form-field--password">
          <input type="password" placeholder="Password"/>
        </div>
        <div class="form-field flex mgh-1">
          <div class="flex-1">
            <label>
              <input type="checkbox" />
              Remember Me
            </label>
          </div>
          <div class="flex-1 text-right">
            <a href="#">Forgot password?</a>
          </div>
        </div>
        <div class="form-field">
          <button class="btn btn--block btn--dark">Login</button>
          <div class="divider">OR</div>
          <button class="btn btn--block btn--facebook">Login with Facebook</button>
          <button class="btn btn--block btn--google">Login with Google</button>
        </div>
      </form>
    </div>
    <div class="login-box__photo">
    </div>
  </div>
</div>
